{% comment %} <div class="footer-content">
<p class="rights"> © 2025 منصة مداد © جميع الحقوق محفوظة </p>

<div class="contact-info">
    <a href="mailto:info@medad.com" class="contact-link">
    <i class="fas fa-envelope"></i> info@medad.com
    </a>
    <a href="https://wa.me/1234567890" target="_blank" class="contact-link">
    <i class="fab fa-whatsapp"></i> تواصل واتساب
    </a>
</div>
</div> {% endcomment %}


{% load static %}

<div class="footer-content">
<p class="rights"> © 2025 منصة مداد © جميع الحقوق محفوظة </p>

<div class="contact-icons">
    <a href="mailto:medaad.center@gmail.com" class="icon-link" aria-label="Email">
    <i class="fas fa-envelope"></i>
    </a>
    <a href="https://wa.me/+966554408802" target="_blank" class="icon-link" aria-label="WhatsApp">
    <i class="fab fa-whatsapp"></i>
    </a>
    <a href="https://youtube.com/channel/UCC5nzVgw_3WN8JGN0TUNmrQ?si=kV1hu7jlCT8JGCdJ" target="_blank" class="icon-link" aria-label="YouTube">
    <i class="fab fa-youtube"></i>
    </a>
</div>
    <div class="footer-pattern">
    <img src="{% static 'images/naqesh.jpg' %}" alt="نقش مداد" />
</div>
</div>
